*{
  margin: 0;
  padding: 0;
}

body {

}

@font-face {
  font-family: Neo Latina; src: url('media/neo-latina.ttf');
}

#video{
    height: 950px;
}


#presentation{
    margin-top: 0;
    height: 1850px;
}

.second{
  float: left;
  margin-top: 200px;
}

#third{
    float: left;
    margin-top: 1000px;
}

.videooverlay{
  padding: 0;
  top: 0;
  left: 0;
  color: #FFF;
  z-index: 10;
  position: relative;
  text-align: center;
}

.fullscreen-back {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}

.fullscreen-video {
  top: 0;
  left: 0;
  width: 100%;
}

.videobox {
  position: relative;
  width: 100%;
  display: block;
}

.leftimage {
  float: left;
  width: 1000px;
}

.textbox {
  float: left;
  width: 33%;
  margin-top: 100px;
    position: absolute;
    left: 900px;
}

.textbox2 {
  float: left;
  width: 33%;
  margin-left: 150px;
  z-index: 10;
  position: absolute;
  top: 1980px;
  left: 80px;
}

.header {
  font-family: 'Neo Latina', Arial;
  color: #fff;
  font-size: 150px;
  padding-top: 300px;
}

.header2 {
  font-family: 'Neo Latina', Arial;
  font-size: 80px;
  text-align: center;
  color: #e85400;
  margin-bottom: 80px;
}

.headerthird {
  font-family: 'Neo Latina', Arial;
  color: #000;
  font-size: 80px;
  width: 700px;
  text-align: center;
  color: #e85400;
  float: left;
  margin-top: 800px;
}

.orange {
  color: #e85400 !important;
}

.fullwidthimage {
  width: 100%;
  float: left;
  top: 1900px;
  right: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}

.fullwidthimage img{
  width: 100%;
  float: left;
}

.subheader {
  font-family: 'Share Tech', Arial;
  color: #0a286e;
  font-size: 28px;
  padding-bottom: 10px;
}

.text {
  font-family: 'Share Tech', Arial;
  color: ##707070;
  font-size: 18px;
}
